body {
  min-height: 2000px;
  background-image: url(https://image.ibb.co/d4U0yk/kansei_dorifto.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;
  color: #fff;
  text-shadow: 0 0 5px #3AB0C9;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

tr.success{
    color: #000;
    background: rgba(0,153,0,0.5);
}
tr.warning{
    color: #000;
    background: rgba(204,204,0,0.5);   
}