{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        text-align: center;
        align-content: center;
        position: absolute;
        width: 900px;
        height: auto;
        top: 50%;
        left: 35%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 30px;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 0 0 5px #ffffff;
        background: rgba(0,0,0,0.5);
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}